@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.titlePage{
    @apply text-gray-600 text-2xl font-light
}
.navLink{
    @apply text-sm text-carbon-200 block p-3 pl-4
}
.navLink:hover{
    @apply  bg-gray-200 text-carbon-300
}
.navLinkActive{
    position: relative;
    @apply text-sm text-carbon-500 font-medium block p-3 pl-4 bg-gray-300 
}
.primary-button{
    box-shadow: rgba(84, 128, 222, 0.21) 0px 2.76726px 2.21381px, rgba(84, 128, 222, 0.15) 0px 6.6501px 5.32008px, rgba(84, 128, 222, 0.125) 0px 12.5216px 10.0172px, rgba(84, 128, 222, 0.106) 0px 22.3363px 17.869px, rgba(84, 128, 222, 0.086) 0px 41.7776px 33.4221px, rgba(84, 128, 222, 0.06) 0px 100px 80px;
    @apply bg-p_blue-500 text-white  rounded cursor-pointer transition-colors duration-100 ease-in-out
}
.primary-button:hover{
    @apply bg-p_blue-400
}
.inner-form{
    @apply appearance-none border border-gray-400 rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight
}
.inner-form:focus{
    @apply outline-none shadow-outline
}
.inner-form:disabled{
    @apply bg-gray-200
}